// COLOR VARIABLES
$color-primary-dark: #387adf;
$color-primary-medium: #44ace4;
$color-primary-light: #90cef0;

$color-secondary-dark: #76911d;
$color-secondary-medium: #8ea73c;
$color-secondary-light: #a8bd62;

$color-tertiary-dark: #d91623;
$color-tertiary-medium: #e4545e;
$color-tertiary-light: #f0999f;

$color-grey-dark: #474a4c;
$color-grey-medium: #828588;
$color-grey-light: #bfc1c3;

$color-black: #000000;
$color-white: #ffffff;

// FONT VARIABLES
$font-display: 'Roboto Slab', serif;
$font-primary: 'Barlow', sans-serif;

// FONT
$font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// // RESPONSIVE BREAKPOINTS
// $bp-largest: 75em;   // 1200px
// $bp-large: 62.5em;   // 1000px
// $bp-medium: 50em;    // 800px;
// $bp-small: 37.5em;    // 600px;
