<footer class="footer">
  <div class="footer__about">
    <h4 class="footer__title heading tertiary">Our Awesomness</h4>
    <p class="minCopy">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo hic mollitia totam optio ex beatae aliquam
      asperiores, nulla illum, minus, cum a voluptas? At!
    </p>
    <address class="footer__contacts">
      <p class="footer__address minCopy">623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
      <p>
        <a class="footer__link minCopy" href="tel:415-201-6370">415-201-6370</a><br />
        <a class="footer__link minCopy" href="mailto:hello@thematics.com">hello@thematics.com</a>
      </p>
    </address>
  </div>

  <nav class="footer__nav" id="nav">
    <h4 class="footer__title heading tertiary">Links</h4>
    <ul class="footer__list minCopy">
      <li class="footer__item" role="menuitem">
        <a href="index.html" class="footer__link"> Home </a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item" role="menuitem">
        <a href="about.html" class="footer__link"> About </a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item" role="menuitem">
        <a href="services.html" class="footer__link"> Services </a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item" role="menuitem">
        <a href="portfolio.html" class="footer__link"> Portfolio </a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item" role="menuitem">
        <a href="contact.html" class="footer__link"> Contact </a>
      </li>

      <hr class="footer__hr" />
    </ul>
  </nav>

  <nav class="footer__social">
    <h4 class="footer__title heading tertiary">Social</h4>
    <ul class="footer__list minCopy">
      <li class="footer__item">
        <a class="footer__link" href="#"><i class="fa fa-github">&nbsp;</i>Github</a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item">
        <a class="footer__link" href="#"><i class="fa fa-dribbble">&nbsp;</i>Dribble</a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item">
        <a class="footer__link" href="#"><i class="fa fa-instagram">&nbsp;</i>Instagram</a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item">
        <a class="footer__link" href="#"><i class="fa fa-facebook">&nbsp;</i>Facebook</a>
      </li>

      <hr class="footer__hr" />

      <li class="footer__item">
        <a class="footer__link" href="#"><i class="fa fa-twitter">&nbsp;</i>Twitter</a>
      </li>

      <hr class="footer__hr" />
    </ul>
  </nav>

  <form class="footer__newsletter" method="post" action="#">
    <h4 class="footer__title heading tertiary">Newsletter Signup</h4>
    <p class="minCopy">Our newletter signup will keep you updated on the latest.</p>

    <input type="text" id="name" name="name" placeholder="Your first name..." required />

    <input type="email" id="email" name="email" placeholder="Your Email.." required />

    <input class="footer__subBtn btn" type="submit" value="Submit" />
  </form>

  <!-- <div class="footer__copyrights">
      <p class="minCopy">Copyright 2019, Vision Design - graphic zoo</p>
      <p>
        All images have been purchased from Bigstock. Do not use the images in
        your website.
      </p>
      <p class="credits">Code & Design by Team Thematics</p>
    </div> -->
</footer>
