<!-- Section LogIn Form -->
<div class="modal-login hidden">
  <button class="btn--cancel-login close-login">&times;</button>

  <img class="modal-login__pic" src="img/avatar-1.png" alt="Avatar" />
  <h2 class="modal-login__header heading tertiary">Sign in</h2>

  <form action="" class="modal-login__form animate">
    <div class="modal-login__userName">
      <label for="uName">Username</label>
      <input type="text" placeholder="Enter your Username" required />
    </div>

    <div class="modal-login__passwd">
      <label for="uName">Password</label>
      <input type="text" placeholder="Enter your Password" required />
    </div>

    <button class="modal-login__loginBtn btn" type="submit">Login</button>

    <label class="modal-login__rem"> <input type="checkbox" checked="checked" name="remember" /> Remember me </label>

    <button class="close-login btn" type="button">Cancel</button>

    <span class="modal-login__forgotPsw">Forgot <a href="#">password?</a></span>
  </form>
</div>
<div class="overlay hidden"></div>

<!-- <script type="module" src="./js/loginModal.js"></script> -->
