<!-- Section SignUp Form -->
<div class="modal-signup hidden">
  <button class="btn--cancel-signup close-signup">&times;</button>
  <img class="modal-signup__pic" src="img/avatar-1.png" alt="Avatar" />
  <h2 class="modal-signup__header heading tertiary">Register</h2>

  <form action="" class="modal-signup__form animate">
    <div class="modal-signup__email heading">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Enter your Email" required />
    </div>

    <div class="modal-signup__passwd">
      <label for="uName">Password</label>
      <input type="text" placeholder="Enter your Password" required />
    </div>

    <div class="modal-signup__passwdrepeat">
      <label for="uName ">Password</label>
      <input type="text" placeholder="Enter your Password" required />
    </div>

    <button class="modal-signup__signupBtn btn" type="submit">Sign up</button>

    <label class="modal-signup__rem"> <input type="checkbox" checked="checked" name="remember" /> Remember me </label>

    <button class="close-signup btn" type="button">Cancel</button>

    <span class="modal-signup__forgotPsw">Forgot <a href="#">password?</a></span>
  </form>
</div>
<div class="overlay hidden"></div>

<!-- <script type="module" src="./js/signupModal.js"></script> -->
