// Section ABOUT ME
.folio-wrap {
  grid-area: folio;

  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 2rem;

  background-color: $color-secondary-light;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.folio {
  display: flex;
  flex-flow: column;

  background-color: $color-white;
  padding: 0.5rem 0.5rem 2rem 0.5rem;

  &__title {
    text-align: center;
    color: $color-primary-dark;
  }

  &__copy {
    text-align: center;
    color: $color-grey-dark;
  }

  &__pic {
    width: 100%;
    height: auto;
  }
}

/* Gallery! */
.gallery {
  grid-area: gal;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));

  padding: 1rem 3rem 2rem 3rem;
  background-color: $color-white;
  margin-bottom: 3rem;

  &__title {
    grid-column: 1 / -1;
    text-align: center;

    color: $color-grey-dark !important;
  }

  // &__subtitle {
  //   grid-row: 2;
  //   grid-column: 1 / -1;

  //   text-align: center;
  //   color: $color-secondary-dark !important;
  // }

  &__pic {
    width: 100%;
  }
}
